<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/nav'); -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/about-bg.webp')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About</h1>
                            <span class="subheading">개발자에 대한 소개</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>경북대학교 컴퓨터학부 심화컴퓨터공학부 3학년에 재학 중인 안재영이라고 합니다.</p>
                        <p>2022년 1학기에 류은경 교수님의 고급웹프로그래밍수업을 수강하면서 HTML, CSS, JavaScript,
                            Jquery, Node.js, Express, MongoDB, MVC Pattern, 에 대한 내용들을 배웠고 이들을 모두 활용하여 서비스를
                        만들고 배포하는 부분까지 모두 경험할 수 있었습니다. </p>
                        <p>텀 프로젝트로 한 학기동안 배운 것들을 활용하여 직접 서비스를 만들고 배포할 기회가 생겨서 중간 프로젝트로 만들었던
                            이상형 월드컵을 더 발전시켜 보고자 하였습니다. 기존에는 이미 업로드 되어있는 이상형 월드컵에 한해서만
                            즐길 수 있었지만, 유저들이 직접 원하는 주제의 이상형 월드컵을 만들 수 있게끔 구현하였습니다.
                            또한 하나의 이상형 월드컵을 끝마치면 댓글을 달 수 있어 유저간 소통할 수 있게끔 구현하였습니다.
                        </p>
                        <p>즐거운 시간 보내시기 바랍니다!</p>
                   
                    </div>
                </div>
            </div>
        </main>
  
        <%- include('layouts/footer'); -%>
        <%- include('layouts/script'); -%>

    </body>
</html>
